html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin-top: -16px;
    position: relative;
}


.component-image {
    width: 110%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 0;
}
.component-text {
    position: absolute;
    z-index: 10;
    text-align: center;
    margin-bottom: 32px;
    top: 30%;
    left: 20px;
    font-size: 32px;
    padding: 20px;
    font-weight: bold;
    color: #E9DCC9;
    font-family: "Aoboshi One", serif;
    font-style: normal;
}
.component-button {
    margin-top: 16px;
    padding: 10px 20px;
    border: none;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    transition: background-color 0.4s ease;;
    cursor: pointer;
    font-size: 32px;
    border-radius: 8px;
    background-color: #847575;
    color: #FFFFFF;
}
.component-button:hover {
    background-color: #5B4848;
    color: #000000;
}
.component-overlay {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #7D5E5E;
    opacity: 40%;
}