.navbar {
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    height: 80px;
}
.header-title {
    white-space: nowrap;
    font-size: 40px;
    margin: 0;
}
.navbar-list .active {
    border-bottom: 4px solid #dbcbcb;
    color: white;
}
header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #2C2626;
}
.navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.navbar-list h2, .navbar-list li {
    margin-right: 20px;
}
.navbar-list li a, .navbar-list li button {
    text-decoration: none;
    padding: 10px 15px;
}
.login-button {
    margin-right: 150px;
    background-color: #847575;
    color: white;
    border-radius: 8px;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.login-button:hover {
    background-color: #5B4848;
    color: #000000;
}
 .header-title {
    color: #7E686A;
    font-size: 30px;
}
.navbar-list li a {
    color: #847575;
    transition: color 0.3s ease;
}
.navbar-list li a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.navbar-list li a .login-button,
.navbar-list li a .signup-button {
    text-decoration: none;
}

.navbar-list li a .login-button:hover,
.navbar-list li a .signup-button:hover {
    text-decoration: none;
}

.signup-button {
    background-color: #847575;
    color: #000000;
    font-family: "Aoboshi One", serif;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.signup-button:hover {
    background-color:#5B4848;
    color: #FFFFFF;
}

