html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.nutrition{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(61, 52, 52, 0.8); 
}
.nutrition-image {
    width: 50%;
    object-position: right;
    height: 100%;
    order: 2;
}
.nutrition-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 20px;
    z-index: 1;
    text-align: center;
    font-weight: bold;
    color: #E9DCC9;
    font-family: "Aoboshi One", serif;
    font-style: normal;
    top: 10px;
}
.nutrition-button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #000000;
    transition: background-color 0.4s ease;
    cursor: pointer;
    cursor: pointer;
    font-family: "Aoboshi One", serif;
    font-style: normal;
    margin-top: 40px;
    border: none;
}
.nutrition-button:hover {
    background-color: #5B4848;
    color: #FFFFFF;
}
.nutrition-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 24px;
    gap: 10px;
    margin: 30px 0 20px 0;
    list-style: circle;
    padding: 0;
    list-style-position: inside;
    max-width: 600px;
    line-height: 1.5;
}
.nutrition-list li {
    text-indent: -10px;
    padding-left: 20px;
}

.nutrition-header {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: bold;
}